{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row my-5 p-5 mb-4 bg-primary-subtle align-items-center rounded-3 border shadow-lg">
        <div class="container-fluid text-center py-5">
          <h1 class="display-5 fw-bold">Pandas Inspector</h1>
          <h3 class="display-5 fs-4 text-body-secondary">Can you discover what happened?</h3>
        </div>
    </div>

    <div class="row my-5 p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">The Million Dollar Bond Robery</h1>
        <p class="lead">Help Hercule Poirot to find out who stole the money</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Let's try!</button>
        </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="{{ url_for('static', filename='hercule_poirot.png') }}" alt="hercule_poirot" width="450">
        </div>
    </div>

</div>
{% endblock %}