{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row my-5">
        <div class="container-fluid text-left">
            <h1 class="fw-bold text-body-emphasis">The Million Dollar Bond Robery</h1>
        </div>
    </div>
    <div class="row my-5 p-2">

        <ol class="breadcrumb breadcrumb-chevron p-3 bg-primary-subtle rounded-3">
            <li class="breadcrumb-item">
              <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Level 1</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Level 2
            </li>
          </ol>
    </div>

</div>
{% endblock %}